@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

.container {
    padding-top: 4.5rem;
}

.hor-padding {
    padding-left: 16px;
    padding-right: 16px;
}

.title {
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar-brand {
    font-family: 'Alegreya Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}

.nav-link {
    font-family: 'Alegreya Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    text-transform: uppercase;
}

@media (max-width: 1199px) {
    .hor-padding {
        padding-left: 8px;
        padding-right: 8px;
    }
}

@media (max-width: 991px) {
    .hor-padding {
        padding-left: 2px;
        padding-right: 2px;
    }

    .title {
        padding-top: 20px;
        padding-bottom: 10px;
    }
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #F6F3F0;
}

.table-striped>tbody>tr:nth-child(odd):hover>td,
.table-striped>tbody>tr:nth-child(odd):hover>th {
    background-color: #E9E6E0;
}
